body {
  background-color: #415b90;
  text-align: center;
}

h1,
h2,
.main-temp {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 29px;
  margin-top: 30px;
}
h2 {
  font-size: 23px;
}

ul {
  margin: 0 auto;
  padding: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}
.container {
  max-width: 550px;
  max-height: 600px;
  margin-top: 15px;
  margin-left: 330px;
  padding: 10px 50px 15px 50px;
  border: solid;
  border-color: #2ca4bf;
  border-radius: 10px;
}

.main-emoji {
  max-width: 140px;
  display: block;
  margin: -10px 0 0 400px;
}

.main-temp {
  font-size: 35px;
  font-weight: strong;
  text-align: left;
}

.min-max-temp,
.extra-values {
  padding: 15px;
}

.min-max-temp {
  margin-top: 8px;
}
.min-max-temp:hover {
  background-color: #f8ed86;
  border-radius: 4px;
}

.wind {
  display: block;
  margin: 0 auto;
  padding: 10px;
}
.wind:hover {
  background-color: #f8ed86;
  border-radius: 4px;
}

.humidity {
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.humidity:hover {
  background-color: #f8ed86;
  border-radius: 4px;
}
.go-button,
.locate-me-button {
  border-radius: 200px;
  border-color: #2ca4bf;
  padding: 8px;
}

.locate-me-button {
  margin-top: 10px;
}

.search-box {
  border-radius: 40px;
  border-color: #2ca4bf;
  padding: 8px;
}

.coder {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}

.code-link {
  color: #f8ed86;
}

.main-temp .active {
  cursor: default;
  color: #212529;
}

.main-temp.active:hover {
  text-decoration: none;
}

.forecast {
  margin-top: 25px;
}

.forecast-temp {
  font-size: 12px;
  margin-left: 7px;
}

.date {
  font-size: small;
  position: relative;
  top: -84px;
  left: 101px;
  color: #f8ed86;
}

.forecast-icon {
  display: block;
  margin: 0 auto;
  max-width: 60px;
}
